@model Brainzzler.Models.AnswerSheet

@{
    ViewData["Title"] = "Questions";
}

<h4 style="margin-bottom: 15px;">
    @Html.DisplayFor(model => model.Test_Name)
</h4>

<div class="question text-center" style="margin-bottom: 20px;">
    <h1>
        @Html.DisplayFor(model => model.Question_Text)
    </h1>
</div>

<div class="row">
    @foreach (var item in Model.Question_Answers)
    {
        <div class="col-sm-12">

            <button type="button" class="btn-block AnswerButton">
                @Html.DisplayFor(modelItem => item.Answer)
            </button>
        </div>

        @*<div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="id">@Html.DisplayFor(modelItem => item.Answer)
                </label>
            </div>*@
    }
</div>

<div>
    <button type="button" class="AnswerSheet" asp-action="AnswerSheet" asp-route-id=@{Model.Id++;}>Напред</button>
    <button type="button" class="AnswerSheet" asp-action="AnswerSheet" asp-route-id=new { id=Model.Id + 1 }>Напред</button>
    <p>
        @Html.ActionLink("Forward", "AnswerSheet", new { id = Model.Id + 1 })
    </p>
    <div class="form-group">
        <input type="submit" value="Save" class="StartGame" />
    </div>
</div>




