@model Brainzzler.Models.AnswerSheet

@{
    @* ViewData["Title"]=Html.DisplayNameFor(model => model.Question_Text); *@
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>Details</h1>*@
<div class="jumbotron banner text-center" style=" background-image: url(../images/header_home.png);margin-bottom:0;">
    <div style="vertical-align: middle; display: inline-block; text-align: left; margin-left: 10px;">
        <h1>@Html.DisplayNameFor(model => model.Question_Text)</h1>

    </div>
</div>
@*<partial name="~/Views/Answers/_PartialAnswers.cshtml" />
    @await Html.PartialAsync("_PartialName.cshtml")*@
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TestId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TestId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Test_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Test_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuestionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question_Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question_Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnswerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Answer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Answer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chosen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chosen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Correct)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Correct)
        </dd>
    </dl>
    <div>
        <button type="button" class="AnswerSheet">Напред</button>
    </div>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>*@
</div>
