@model Brainzzler.Models.AnswerSheet

@{
    @* ViewData["Title"]=Html.DisplayNameFor(model => model.Question_Text); *@
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="col-sm-10">
    @Html.DisplayFor(model => model.Test_Name)
</h4>
<br />
<div class="container">
    @*<div class="row">
            <div class="col-sm-12 AnswerQuestion text-center">
                @Html.DisplayFor(model => model.Question_Text)
            </div>
        </div>*@

    <div class="jumbotron banner text-center" style=" background-image: url(../images/header_home.png);margin-bottom:0;">
        <div style="vertical-align: middle; display: inline-block; text-align: left; margin-left: 10px;">
            <h1 class="col-sm-10">
                @Html.DisplayFor(model => model.Question_Text)
            </h1>
        </div>
    </div>
    <br />
    <div class="row">
        @foreach (var item in Model.Question_Answers)
        {
            <div class="col-sm-12">
                @*<input type="checkbox" class="form-check-input AnswerButton" value="id">@Html.DisplayFor(modelItem => item.Answer)*@

                <button type="button" class="btn-block AnswerButton">
                    @Html.DisplayFor(modelItem => item.Answer)
                </button>
            </div>

            @*<div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="id">@Html.DisplayFor(modelItem => item.Answer)
                    </label>
                </div>*@
        }
    </div>
</div>

<div>
    <button type="button" class="AnswerSheet" asp-action="AnswerSheet" asp-route-id=@{Model.Id++;}>Напред</button>
    <button type="button" class="AnswerSheet" asp-action="AnswerSheet" asp-route-id=new { id=Model.Id + 1 }>Напред</button>
    <p>
        @Html.ActionLink("Forward", "AnswerSheet", new { id = Model.Id + 1 })
    </p>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</div>


@*
    <div>
        <button type="button" class="AnswerSheet" asp-action="AnswerSheet" asp-route-id="3">Напред</button>
    </div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <td>
        @Html.DisplayFor(modelItem => item.Answer)
    </td>
    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
*@



